@page "/VisaApplication"
@using Models
@using Services
@inject IVisaApplicationRepository visaAppRepo

<PageTitle>Apply For A Visa</PageTitle>


<body>
    <h2 style="text-align: center">Apply For A Visa</h2>

    <div id="container" class="container mt-4">
        <div class="progress px-1" style="height: 3px;">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="step-container d-flex justify-content-between">
            <div class="step-circle" onclick="displayStep(1)">1</div>
            <div class="step-circle" onclick="displayStep(2)">2</div>
            <div class="step-circle" onclick="displayStep(3)">3</div>
            <div class="step-circle" onclick="displayStep(4)">4</div>
        </div>

        <EditForm Model="visaApp" OnValidSubmit="HandleSubmit" class="border border-2 rounded p-2" id="multi-step-form">
            <DataAnnotationsValidator />
            <div class="step step-1 p-1">
                <!-- Step 1 form fields here -->
                <h3>Basic Information</h3>
                <div class="mb-3">
                    <label for="legalName" class="form-label">Full Legal Name</label>
                    <InputText @bind-Value="visaApp!.FullLegalName" type="text" class="form-control" id="legalName" />
                </div>
                <div class="mb-3">
                    <label for="dateOfBirth" class="form-label">Date Of Birth</label>
                    <InputDate @bind-Value="visaApp.DateOfBirth" class="form-control" id="dateOfBirth" />
                </div>
                <div class="mb-3">
                    <label for="emailAddress" class="form-label">Email Address</label>
                    <InputText @bind-Value="visaApp.EmailAddress" type="email" class="form-control" id="emailAddress"
                        aria-describedby="emailHelp" />
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="contactNumber" class="form-label">Contact Number</label>
                    <InputNumber @bind-Value="visaApp.ContactNumber" type="number" class="form-control" id="contactNumber"
                        aria-describedby="contactNumberHelp" />
                    <div id="contactNumberHelp" class="form-text">Please include the country prefix e.g: UK = 0</div>
                </div>
                <div class="pb-3">
                    <button type="button" class="btn btn-primary next-step">Next</button>
                </div>
                <ValidationSummary />
            </div>

            <div class="step step-2 p-1">
                <!-- Step 2 form fields here -->
                <h3>Specific Visa Information</h3>
                <div class="mb-3">
                    <label for="visaType" class="form-label">Visa Type</label>
                    <InputSelect @bind-Value="visaApp.VisaType" id="visaType" class="form-select">
                        <option selected>Select Visa Type</option>
                        @foreach (string name in Enum.GetNames(typeof(VisaType)))
                        {
                            <option value="@name">@name</option>
                        }
                    </InputSelect>
                </div>
                <div class="mb-3">
                    <label for="purposeOfStay" class="form-label">Purpose Of Stay</label>
                    <InputTextArea @bind-Value="visaApp.PurposeOfStay" class="form-control" id="purposeOfStay" rows="3" />
                </div>
                <div class="mb-3">
                    <label for="countryOfOrigin" class="form-label">Country Of Origin</label>
                    <InputSelect @bind-Value="visaApp.CountryOfOrigin" id="countryOfOrigin" class="form-select">
                        <option value="France">France</option>
                        <option value="Germany">Germany</option>
                        <option value="Ukraine">Ukraine</option>
                    </InputSelect>
                </div>
                <div class="mb-3">
                    <label for="countryOfDestination" class="form-label">Country Of Destination</label>
                    <InputSelect @bind-Value="visaApp.CountryOfDestination" id="countryOfDestination" class="form-select">
                        <option value="United Kingdom">United Kingdom</option>
                    </InputSelect>
                </div>
                <div class="pb-3">
                    <button type="button" class="btn btn-secondary prev-step">Previous</button>
                    <button type="button" class="btn btn-primary next-step">Next</button>
                </div>
                <ValidationSummary />
            </div>

            <div class="step step-3 p-1">
                <!-- Step 3 form fields here -->
                <h3>Documentation</h3>
                <div class="mb-3">
                    <label for="identification" class="form-label">Please upload a form of Identification</label>
                    <InputFile class="form-control" type="file" id="identification" aria-describedby="identificationHelp" />
                    <div id="identificationHelp" class="form-text">
                        Scan of Drivers License, Passport, Birth Certificate, etc. Seek visa advice for more info...
                    </div>
                </div>
                <div class="mb-3">
                    <label for="proofOfAddress" class="form-label">Please upload a Proof Of Address</label>
                    <InputFile  class="form-control" type="file" id="proofOfAddress" aria-describedby="proofOfAddressHelp" />
                    <div id="proofOfAddressHelp" class="form-text">
                        Scan of Utility bill, bank statement, tax documents, etc. Seek visa advice for more info...
                    </div>
                </div>
                <div class="pb-3">
                    <button type="button" class="btn btn-secondary prev-step">Previous</button>
                    <button type="button" class="btn btn-primary next-step">Next</button>
                </div>
                <ValidationSummary />
            </div>

            <div class="step step-4 p-1">
                <!-- Step 4 form fields here -->
                <h3>Confirm and Submit</h3>

                <ul class="list-group list-group-flush p-1">
                    <li class="list-group-item">Full Legal Name: @visaApp.FullLegalName</li>
                    <li class="list-group-item">Date Of Birth: @visaApp.DateOfBirth.ToString("dd/MM/yyyy")</li>
                    <li class="list-group-item">Email Address: @visaApp.EmailAddress</li>
                    <li class="list-group-item">Contact Number: @visaApp.ContactNumber.ToString()</li>
                    <li class="list-group-item">Visa Type: @visaApp.VisaType.ToString()</li>
                    <li class="list-group-item">Purpose Of Stay: @visaApp.PurposeOfStay</li>
                    <li class="list-group-item">Country Of Origin: @visaApp.CountryOfOrigin</li>
                    <li class="list-group-item">Country Of Destination: @visaApp.CountryOfDestination</li>
                    <li class="list-group-item">Documentation: @documentationMessage</li>
                </ul>
                <div class="pb-3">
                    <button type="button" class="btn btn-secondary prev-step">Previous</button>
                    <button type="submit" class="btn btn-success pb-2">Submit</button>
                </div>
                <ValidationSummary />
                <div style="text-align: center; color: @msgColour">@formStatusMsg</div>
            </div>
        </EditForm>
    </div>
</body>
<script src="js\multiStepForm.js"></script>

@code
{
    Models.VisaApplication? visaApp;

    bool validDocumentation = false;
    string documentationMessage = "";
    
    bool visaAppCreated = false;

    string formStatusMsg = "";
    string msgColour = "";

    bool cacheExists = false; // Not implemented

    protected void OnInitalized()
    {

    }

    protected override void OnParametersSet()
    {
        documentationMessage = validDocumentation ? "Documentation has been uploaded." : "Documentation has not been uploaded.";

        if (cacheExists)
        {
            // Get in progress visa application
        }
        else
        {
            // Create fresh empty object to be populated by form
            visaApp = new Models.VisaApplication();
        }
    }

    // Can only enter this function when form fields are all valid
    public void HandleSubmit()
    {
        try
        {
            if (visaAppRepo.CreateVisaApplication())
            {
                visaAppCreated = true;
                formStatusMsg = "Visa Application has been succesfully created.";
            }
            else
            {
                formStatusMsg = $"Visa Application could not be created.";
            }
        }
        catch(Exception ex)
        {
            formStatusMsg = $"Visa Application could not be created.\b Error: {ex.Message} \b Please contact a system administrator...";
        }
        msgColour = visaAppCreated ? "Green" : "Red";
    }
}